/****************
* Home Page
****************/

.icon_tab>img{
	  height: 50px;
	  width: 50px;
}

/*Plan a trip search*/
/*------------------*/
.trip_plan_search{

	/*width: 100%;*/
	margin: 0 auto 0 50px;
}

/*Recent blog preview*/
/*-------------------*/

.blog-preview>img{
	margin: 0 50px 50px 50px;
	width: 300px;
	height: 300px;
}

.blog-preview{
	border-bottom: 50px;
}


/*Login Form on Home Page*/
/*------------------------*/

.modal-footer {   border-top: 0px; }

.login-body{
	padding-right: 30px;
}

.register-ad{
	border-style: ridge;
	border-color: #666666;
	border-width: 0 0 0 1px;
	padding-left: 40px;
}


/*
* Result Showing Page
*/

.result-navbar{

	/*position: fixed;
	z-index: 10;*/
}

.result-block{

	/*position: absolute;*/

}

.rating-round{
	border-radius: 50%;
	height: 75px;
	width: 75px;
	color: #000033;
	background-color: #66ff99;
	/*display: table-cell;*/
	/*display: inline-block;*/

}

.carousel-control.left, .carousel-control.right {
    background-image: none;
    color: red;
}

#carousel-spot-photo{
	height: 500px;
	width: auto;
}

.img-spot-specific{
	max-height: 500px;
	width: auto;
}

.review-block{
	margin-top: 50px;
	margin-bottom: 70px;

	padding-top: 50px;
	padding-bottom: 50px;

/*	border-style: solid;*/
	/*border-bottom: thick dotted #ff0000;*/

}

.guide-info-block{
    margin-top: 50px;
    margin-bottom: 10px;

    padding-top: 30px;
    padding-bottom: 20px;
}

/*.rating-review{
	vertical-align: middle;
}
*/

/******************
* SPOT IMG MODAL
******************/

/* Style the Image Used to Trigger the Modal */
#img-spot-specific {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#img-spot-specific:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}


/********
* ABOUT
*********/

/*.about-header>img{
	width: 60%;
	height: 40%;
}
*/
/*.team-member>img{
	width: 750px;
	height: 450px;
}*/